.btn-success:hover{
    background-color:rgb(214, 19, 19) ;
}

canvas{
animation-name:filterCanvas;
animation-duration: 4s;
animation-iteration-count:infinite;
}

@keyframes filterCanvas{
    from{box-shadow: 1px 1px 38px#006eff;}
    to {box-shadow: 1px 1px 38px #ff033a;}
}